<!DOCTYPE html>
<html lang="en">
  <form method="post">
    <fieldset>
      <legend>Biology</legend>
      <input type="checkbox" name=course1 value="BIO320(203)"> Genetics<br>
      <input type="checkbox" name=course2 value="BIO321(203)"> Plant Biology I<br>
      <input type="checkbox" name=course3 value="BIO322(203)"> Biophysics-I<br>
      <input type="checkbox" name=course30 value="BIO353(256)"> Immunology II<br>
      <input type="checkbox" name=course31 value="BIO352(256)"> Animal Physiology II<br>
      <input type="checkbox" name=course37 value="BIO311(203)"> Advanced Cell Biology<br>
      <input type="checkbox" name=course38 value="BIO310(203)"> Biostatistics<br>
      <input type="checkbox" name=course39 value="BIO313(203)"> Advanced Molecular Biology<br>
      <input type="checkbox" name=course40 value="BIO334(203)"> Neurobiology I<br>
      <input type="checkbox" name=course41 value="BIO314(203)"> Bioinformatics<br>
      <input type="checkbox" name=course68 value="BIO431(205)"> Epigenetics<br>
      <input type="checkbox" name=course59 value="BIO454(203)"> Structural Biology<br>
      <input type="checkbox" name=course74 value="BIO410(203)"> Advanced Biochemistry I<br>
      <input type="checkbox" name=course75 value="BIO411(203)"> Ecology I<br>
    </fieldset>
    <fieldset>
      <legend>Mathematics</legend>
      <input type="checkbox" name=course0 value="MTH430(301)"> Topics in Algebra: Lie Algebras<br>
      <input type="checkbox" name=course12 value="MTH412(301)"> Algebraic Topology<br>
      <input type="checkbox" name=course13 value="MTH413(301)"> Algorithms<br>
      <input type="checkbox" name=course14 value="MTH410(301)"> Galois Theory<br>
      <input type="checkbox" name=course16 value="MTH415(301)"> Probability<br> 
      <input type="checkbox" name=course26 value="MTH417(301)"> Ordinary Differential Equations<br>
      <input type="checkbox" name=course49 value="MTH421(301)"> Measure Theory & Integration<br>
      <input type="checkbox" name=course56 value="MTH314(301)"> Statistical Inference<br>
      <input type="checkbox" name=course57 value="MTH311(301)"> Analysis<br>
      <input type="checkbox" name=course58 value="MTH310(301)"> Group Theory<br>
      <input type="checkbox" name=course60 value="MTH312(301)"> Point Set Topology<br>
      <input type="checkbox" name=course64 value="MTH318(301)"> Combinatorics<br>
    </fieldset>
    <fieldset>
      <legend>Physics</legend>
      <input type="checkbox" name=course4 value="PHY312(101)"> Electrodynamics<br>
      <input type="checkbox" name=course17 value="PHY330(101)"> Physics Lab IV<br>
      <input type="checkbox" name=course23 value="PHY334(101)"> Astronomy and Astrophysics<br>
      <input type="checkbox" name=course28 value="PHY311(101)"> Classical Mechanics<br>
      <input type="checkbox" name=course29 value="PHY453(101\303)"> Computational Physics<br>
      <input type="checkbox" name=course32 value="PHY412(101)"> Statistical Mechanics II<br>
      <input type="checkbox" name=course34 value="PHY410"> Physics Lab VI<br>
      <input type="checkbox" name=course35 value="PHY411(101)"> Condensed Matter Physics I<br>
      <input type="checkbox" name=course36 value="PHY461(101)"> Quantum Field Theory<br>
      <input type="checkbox" name=course44 value="PHY340(101)"> Methods of Experimental Physics<br>
      <input type="checkbox" name=course47 value="PHY310(101)"> Mathematical Methods in<br>
      <input type="checkbox" name=course73 value="PHY462(101)"> Plasma Physics<br>
      <input type="checkbox" name=course65 value="PHY313(101)"> Quantum Mechanics I<br>
    </fieldset>
    <fieldset>
      <legend>Chemistry</legend>
      <input type="checkbox" name=course5 value="CHM340(201)"> Advanced Organic Chemistry Laboratory<br>
      <input type="checkbox" name=course6 value="CHM431(201)"> Chemical Biology<br>
      <input type="checkbox" name=course7 value="CHM430(201)"> Advanced Physical Chemistry Laboratory<br>
      <input type="checkbox" name=course15 value="CHM320(201)"> Symmetry and Group Theory<br>
      <input type="checkbox" name=course33 value="CHM445(201)"> Electrochemistry<br>
      <input type="checkbox" name=course45 value="CHM421(201)"> Polymer Chemistry<br>
      <input type="checkbox" name=course46 value="CHM436(201)"> Molecular Modelling and Simulation<br>
      <input type="checkbox" name=course50 value="CHM311(201)"> Physical Organic Chemistry<br>
      <input type="checkbox" name=course51 value="CHM312(201)"> Main Group Chemistry<br>
      <input type="checkbox" name=course52 value="CHM432(201)"> Solid State Chemistry<br>
      <input type="checkbox" name=course53 value="CHM332(201)"> Separation Principles and techniques<br>
      <input type="checkbox" name=course54 value="CHM331(304)"> Self-Assembly in Chemistry<br>
      <input type="checkbox" name=course67 value="CHM413(201)"> Bioinorganic Chemistry<br>
      <input type="checkbox" name=course69 value="CHM411(201)"> Organic Synthesis — II<br>
      <input type="checkbox" name=course70 value="CHM410(201)"> Advanced Molecular Spectroscopy<br>
    </fieldset>
    <fieldset>
      <legend>HSS and ECS</legend>
      <input type="checkbox" name=course11 value="HSS312(206)"> Perspectives on Sound<br>
      <input type="checkbox" name=course19 value="ECS325(303)"> Numerical Computation using MATLAB<br>
      <input type="checkbox" name=course20 value="ECS322(206)"> Landscapes and Earth surface processes<br>
      <input type="checkbox" name=course48 value="ECS330(206)"> Earth and Planetary Materials Lab<br>
      <input type="checkbox" name=course55 value="HSS332(206)"> Art and Science of Numismatics<br>
      <input type="checkbox" name=course61 value="ECS316(206)"> Earth and Planetary Materials<br>
      <input type="checkbox" name=course62 value="ECS315(206)"> Physics of Atmosphere & Ocean<br>
      <input type="checkbox" name=course63 value="ECS314(206)"> Earth and Life History<br>
      <input type="checkbox" name=course66 value="HSS411(206)"> Contemporary Women Novelists<br>
      <input type="checkbox" name=course72 value="HSS351(206)"> Technological Evolution of<br>
    </fieldset>
    <input type="submit" value="Submit" /><br>
  </form>
