<!DOCTYPE html>
<html lang="en">
  <form method="post">
    <fieldset>
    <legend>Biology</legend>
  <input type="checkbox" name="course0" value="BIO313(203)"> BIO313<br>
  <input type="checkbox" name="course1" value="BIO311(203)"> BIO311<br>
  <input type="checkbox" name="course2" value="BIO310(203)"> BIO310<br>
  <input type="checkbox" name="course3" value="BIO314(203)"> BIO314<br>
  <input type="checkbox" name="course4" value="BIO320(203)"> BIO320<br>
  <input type="checkbox" name="course5" value="BIO321(206)"> BIO321<br>
  <input type="checkbox" name="course6" value="BIO410"> BIO410<br>
  <input type="checkbox" name="course7" value="BIO322"> BIO322<br>
  <input type="checkbox" name="course8" value="BIO411"> BIO411<br>
  <input type="checkbox" name="course9" value="BIO334"> BIO334<br>
  <input type="checkbox" name="course10" value="BIO431"> BIO431<br>
  <input type="checkbox" name="course11" value="BIO454"> BIO454<br>
  <input type="checkbox" name="course12" value="BIO352"> BIO352<br>
  <input type="checkbox" name="course13" value="BIO353"> BIO353<br>
    </fieldset>
    <fieldset>
      <legend>Mathematics</legend>
  <input type="checkbox" name="course15" value="CHM311"> CHM311<br>
  <input type="checkbox" name="course16" value="CHM312"> CHM312<br>
  <input type="checkbox" name="course17" value="CHM320"> CHM320<br>
  <input type="checkbox" name="course18" value="BIO313(203)"> BIO313<br>
  <input type="checkbox" name="course19" value="BIO334(203)"> BIO334<br>
  <input type="checkbox" name="course20" value="BIO353(206)"> BIO353<br>
  <input type="checkbox" name="course21" value="BIO352(206)"> BIO352<br>
  <input type="checkbox" name="course22" value="BIO314(203)"> BIO314<br>
  <input type="checkbox" name="course23" value="BIO454(203)"> BIO454<br>
  <input type="checkbox" name="course24" value="BIO310(203)"> BIO310<br>
  <input type="checkbox" name="course25" value="BIO431(205)"> BIO431<br>
  <input type="checkbox" name="course26" value="BIO411(203)"> BIO411<br>
  <input type="checkbox" name="course27" value="BIO320(203)"> BIO320<br>
  <input type="checkbox" name="course28" value="BIO322(203)"> BIO322<br>
  <input type="checkbox" name="course29" value="BIO321(203)"> BIO321<br>
    </fieldset>
    <fieldset>
      <legend>Physics</legend>
  <input type="checkbox" name="course30" value="BIO321(201)"> BIO321<br>
  <input type="checkbox" name="course31" value="BIO410(203)"> BIO410<br>
  <input type="checkbox" name="course32" value="BIO311(203)"> BIO311<br>
  <input type="checkbox" name="course33" value="BIO313(203)"> BIO313<br>
  <input type="checkbox" name="course34" value="BIO334(203)"> BIO334<br>
  <input type="checkbox" name="course35" value="BIO353(206)"> BIO353<br>
  <input type="checkbox" name="course36" value="BIO352(206)"> BIO352<br>
  <input type="checkbox" name="course37" value="BIO314(203)"> BIO314<br>
  <input type="checkbox" name="course38" value="BIO454(203)"> BIO454<br>
  <input type="checkbox" name="course39" value="BIO310(203)"> BIO310<br>
  <input type="checkbox" name="course40" value="BIO431(205)"> BIO431<br>
  <input type="checkbox" name="course41" value="BIO411(203)"> BIO411<br>
  <input type="checkbox" name="course42" value="BIO320(203)"> BIO320<br>
  <input type="checkbox" name="course43" value="BIO322(203)"> BIO322<br>
  <input type="checkbox" name="course44" value="BIO321(203)"> BIO321<br>
    </fieldset>
    <fieldset>
      <legend>Chemistry</legend>
  <input type="checkbox" name="course45" value="BIO321(201)"> BIO321<br>
  <input type="checkbox" name="course46" value="BIO410(203)"> BIO410<br>
  <input type="checkbox" name="course47" value="BIO311(203)"> BIO311<br>
  <input type="checkbox" name="course48" value="BIO313(203)"> BIO313<br>
  <input type="checkbox" name="course49" value="BIO334(203)"> BIO334<br>
  <input type="checkbox" name="course50" value="BIO353(206)"> BIO353<br>
  <input type="checkbox" name="course51" value="BIO352(206)"> BIO352<br>
  <input type="checkbox" name="course52" value="BIO314(203)"> BIO314<br>
  <input type="checkbox" name="course53" value="BIO454(203)"> BIO454<br>
  <input type="checkbox" name="course54" value="BIO310(203)"> BIO310<br>
  <input type="checkbox" name="course55" value="BIO431(205)"> BIO431<br>
  <input type="checkbox" name="course56" value="BIO411(203)"> BIO411<br>
  <input type="checkbox" name="course57" value="BIO320(203)"> BIO320<br>
  <input type="checkbox" name="course58" value="BIO322(203)"> BIO322<br>
  <input type="checkbox" name="course59" value="BIO321(203)"> BIO321<br>
    </fieldset>
    <fieldset>
      <legend>ECS and HSS</legend>
  <input type="checkbox" name="course60" value="BIO321(201)"> BIO321<br>
  <input type="checkbox" name="course61" value="BIO410(203)"> BIO410<br>
  <input type="checkbox" name="course62" value="BIO311(203)"> BIO311<br>
  <input type="checkbox" name="course63" value="BIO313(203)"> BIO313<br>
  <input type="checkbox" name="course64" value="BIO334(203)"> BIO334<br>
  <input type="checkbox" name="course65" value="BIO353(206)"> BIO353<br>
  <input type="checkbox" name="course66" value="BIO352(206)"> BIO352<br>
  <input type="checkbox" name="course67" value="BIO314(203)"> BIO314<br>
  <input type="checkbox" name="course68" value="BIO454(203)"> BIO454<br>
  <input type="checkbox" name="course69" value="BIO310(203)"> BIO310<br>
  <input type="checkbox" name="course70" value="BIO431(205)"> BIO431<br>
  <input type="checkbox" name="course71" value="BIO411(203)"> BIO411<br>
  <input type="checkbox" name="course72" value="BIO320(203)"> BIO320<br>
  <input type="checkbox" name="course73" value="BIO322(203)"> BIO322<br>
  <input type="checkbox" name="course74" value="BIO321(203)"> BIO321<br>
    </fieldset>
<input type="submit" value="Submit" /><br>
 </form>

